body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* style du main */

main {
    background-color: #7BD76C;
    padding-top: 25px;
}

legend {
    font-size: 25px;
    margin-bottom: 25px;
}


/* style des champs du formulaire */

input,
label,
select {
    display: block;
    width: 100%;
}

input,
select {
    height: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 25px;
}

textarea {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* style du boutton */

button {
    display: block;
    background-color: rgb(212, 209, 209);
    height: 25px;
}


/* Responsive quand on passe sur ecran d'IPAD ou plus */

@media screen and (min-width:768px) {
    main {
        width: 760px;
        margin: auto;
    }

    body {
        background-color: #7BD76C;
    }
}


/*NAV*/

* {
    padding: Opx;
    margin: 0px;

}

nav img {
    margin: 0%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /*?*/
    background-color: rgb(182, 250, 173);
    ;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: 20PX;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.lines {
    display: none;
}

.lines div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    /* transition : all 0.3s ease; */
}

@media screen and (max-width:1024px) {
    .nav-links {

        width: 70%;
        /*for the space between them when the screen is a tab*/
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
        /*to remove the menu totaly (if there is a scrolle for ex ,it will display the menu in the end of the scrolle then this feature is to remove it totally ) we will display it with the click function*/
    }

    .nav-links {
        position: absolute;
        right: 0px;
        /*rest in the right*/
        height: 30%;
        /*92vh it gives full screen in height*/
        top: 10.8vh;
        /*it will be right under the nav bar*/
        background-color: #A2B7D6;
        ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        /*the width of the menu */
        transform: translateX(100%);
        /*to remove the menu and then we will apply sth to com when click*/
        transition: transform 0.5s ease-in;
        z-index: 2;
    }

    .nav-links li {
        opacity: 0;
        /* to make it hidden -the origin state of the links is hidden*/
    }

    .lines {
        display: block;
    }


}



.nav-active {
    transform: translateX(0%);
    /*this means back to 0% (the navigation will return the translation from 100% to 0%) to show the lines -the menu*/
}


@keyframes navLinkFade {

    /*for the  menu to slide nicely*/
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

h4 {
    font-size: 30px;
}

h2 {
    text-align: center;

}

/*SECTION*/
.act {
    text-align: center;
    margin: 10px;
}

.content img {
    margin-right: 15px;
    float: left;
}


.content p {
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}

nav ul li:hover {
    background-color: rgba(150, 244, 177, 0.61);
    transition: 0.9s;
}

/*FOOTER*/

footer {
    color: black;
    background: rgb(182, 250, 173);
    padding-top: 20px;
    display: flex;
    justify-content: space-around;


}

footer ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

footer a {
    color: black;
}

.fa-ul {
    height: 1rem;
    font-size: 1.20em;
}

@media screen and (max-width:768px) {


    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        padding-top: 0px;
        height: 500px;

    }

    footer div {
        font-size: 20px;
        height: 150px;

    }



    .fa-ul {
        height: 1rem;
        font-size: 1.50em;
    }



}

#slogan {
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
   
}

 @media screen and (max-width:1060px) {
    #slogan {
        position: absolute;
        top : 35%;
        left: 20%;
    
    }

    
    
}

@media screen and (max-width:940px) {
    #slogan {
        position: absolute;
        top : 30%;
       
    }
    
}

@media screen and (max-width:830px) {
    #slogan {
        position: absolute;
        top : 30%;
        font-size: 40px;
       
    }
    
}

@media screen and (max-width:690px) {
    #slogan {
        position: absolute;
        top : 25%;
        left : 25%;
        font-size: 30px;
       
    }
    
}

@media screen and (max-width:690px) {
    #slogan {
        position: absolute;
        
        font-size: 25px;
       
    }
    
}

@media screen and (max-width:430px) {
    #slogan {
        position: absolute;
        top : 22%;
        left : 20%;
        font-size: 20px;
       
    }
    
}

@media screen and (max-width:350px) {
    #slogan {
        position: absolute;
        top : 30%;
        left : 35%;
        font-size: 20px;
       
    }
    
}



/* .blink_me {
    animation: blinker 1s linear infinite;
    height: 60px;
    background-color: rgb(255, 247, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  } */